<br *ngIf="!members"><br *ngIf="!members"><mat-spinner *ngIf="members.length == 0" color="primary"></mat-spinner>
<table *ngIf="members && isMobile == false" mat-table [dataSource]="dataSource" matSort matSortStart="asc" cdkFocusInitial class="mat-elevation-z8">
  <ng-container matColumnDef="displayName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Display Name </th>
    <td mat-cell *matCellDef="let member"> {{member.displayName}} </td>
  </ng-container>
  <ng-container matColumnDef="teamAbbreviation">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Team Abbreviation </th>
    <td mat-cell *matCellDef="let member"> {{member.teamAbbreviation}} </td>
  </ng-container>
  <ng-container matColumnDef="ownerFirstName">
    <th mat-header-cell *matHeaderCellDef> Owner First Name </th>
    <td mat-cell *matCellDef="let member"> {{member.firstName}} </td>
  </ng-container>
  <ng-container matColumnDef="ownerLastName">
    <th mat-header-cell *matHeaderCellDef> Owner Last Name </th>
    <td mat-cell *matCellDef="let member"> {{member.lastName}} </td>
  </ng-container>
  <ng-container matColumnDef="teamLocation">
    <th mat-header-cell *matHeaderCellDef> Team Location </th>
    <td mat-cell *matCellDef="let member"> {{member.teamLocation}} </td>
  </ng-container>
  <ng-container matColumnDef="teamNickname">
    <th mat-header-cell *matHeaderCellDef> Team Nickname </th>
    <td mat-cell *matCellDef="let member"> {{member.teamNickname}} </td>
  </ng-container>
  <ng-container matColumnDef="getDetails">
    <th mat-header-cell *matHeaderCellDef> Draft </th>
    <td mat-cell *matCellDef="let member"> <button mat-raised-button color="primary" (click)="getRecord(member.memberId)">Get Draft Detail</button> </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="metaHeaders"></tr>
  <tr mat-row *matRowDef="let row; columns: metaHeaders;"></tr>
</table>

<table *ngIf="members && isMobile == true" mat-table [dataSource]="mobileDataSource" matSortStart="asc" cdkFocusInitial class="mat-elevation-z8">
  <ng-container matColumnDef="detail">
    <th mat-header-cell *matHeaderCellDef>Overview Detail</th>
    <td mat-cell *matCellDef="let member">
      <span>
        <ul class="shortenedDetail">
          <mat-list-item role="listitem"><strong>Display Name:</strong> {{member.detail.displayName}}</mat-list-item>
          <mat-list-item role="listitem"><strong>Team Abbreviation:</strong> {{member.detail.teamAbbreviation}}</mat-list-item>
          <mat-list-item role="listitem"><strong>Owner First Name:</strong> {{member.detail.firstName}}</mat-list-item>
          <mat-list-item role="listitem"><strong>Owner Last Name:</strong> {{member.detail.lastName}}</mat-list-item>
          <mat-list-item role="listitem"><strong>Team Location:</strong> {{member.detail.teamLocation}}</mat-list-item>
          <mat-list-item role="listitem"><strong>Team Nickname:</strong> {{member.detail.teamNickname}}</mat-list-item>
          <mat-list-item role="listitem"><button mat-raised-button color="primary" (click)="getRecord(member.memberId)">Get Draft Detail</button> </mat-list-item>
        </ul>
      </span>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="mobileMetaHeaders"></tr>
  <tr mat-row *matRowDef="let row; columns: mobileMetaHeaders;"></tr>
</table>
