<br *ngIf="!members"><br *ngIf="!members"><mat-spinner *ngIf="!members" color="primary"></mat-spinner>
<table *ngIf="members" mat-table [dataSource]="dataSource" matSort cdkFocusInitial class="mat-elevation-z8">
  <ng-container matColumnDef="displayName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Display Name </th>
    <td mat-cell *matCellDef="let member"> {{member.displayName}} </td>
  </ng-container>
  <ng-container matColumnDef="teamAbbreviation">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Team Abbreviation </th>
    <td mat-cell *matCellDef="let member"> {{member.teamAbbreviation}} </td>
  </ng-container>
  <ng-container matColumnDef="teamLocation">
    <th mat-header-cell *matHeaderCellDef> Team Location </th>
    <td mat-cell *matCellDef="let member"> {{member.teamLocation}} </td>
  </ng-container>
  <ng-container matColumnDef="teamNickname">
    <th mat-header-cell *matHeaderCellDef> Team Nickname </th>
    <td mat-cell *matCellDef="let member"> {{member.teamNickname}} </td>
  </ng-container>
  <ng-container matColumnDef="getDetails">
    <th mat-header-cell *matHeaderCellDef> Draft </th>
    <td mat-cell *matCellDef="let member"> <button mat-raised-button color="primary" (click)="getRecord(member.memberId)">Get Draft Detail</button> </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="metaHeaders"></tr>
  <tr mat-row *matRowDef="let row; columns: metaHeaders;"></tr>
</table>
