<mat-toolbar id="toolBar">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/meta-dashboard">
      <mat-icon>dashboard</mat-icon>
      <span routerLink="/meta-dashboard" routerLinkActive="active">Master League Overview</span>
    </button>
    <button routerLink="/draft-overview" mat-menu-item>
      <mat-icon>description</mat-icon>
      <span routerLink="/draft-overview" routerLinkActive="active">Draft History</span>
    </button>
    <button mat-menu-item routerLink="/matchups">
      <mat-icon>history</mat-icon>
      <span routerLink="/matchups" routerLinkActive="active">Historical Matchups</span>
    </button>
  </mat-menu>
  <div fxShow="true" fxHide.lt-md="true">
    <span>Lady of the Lake Fantasy Football</span>
  </div>
  <div fxShow="true" fxHide.gt-sm="true">
    <span>Lady of the Lake</span>
  </div>
</mat-toolbar>
