<div class="matchup">
  <h3>Historical Matchups for year: {{year}}</h3>
</div>
<div id = "selectContainer">
  <div id = "yearContainer">
  <span class="year">Select year</span>
    <select class='select-option'
    #mySelect
    (change)='onOptionsSelected(mySelect.value)'>
      <option *ngFor="let year of years">{{year}}</option>
    </select>
  </div>
  <div id = "weekContainer">
    <span class="week">Select week</span>
    <select class='select-week-option'
    #myWeekSelect
    (change)='onWeekOptionsSelected(myWeekSelect.value)'>
      <option *ngFor="let week of weeks">{{week}}</option>
    </select>
  </div>
</div>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="40px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let matchup of matchupDetail">
      <mat-card class="mat-elevation-z4" >
        <div class = "headerWrap">
          <mat-card-header>
            <mat-card-title>Matchup {{matchup.matchIdentifier}}</mat-card-title>
          </mat-card-header>
        </div>
        <mat-card-content>
          <p *ngIf="matchup.isPlayoffMatchup">Playoff Tier Type: {{matchup.playoffTierType}}</p>
          <p><span [innerHTML]="matchup.homeTeamName | strongPipe:matchup.winningTeamName"></span> : {{matchup.homeTeamScore}}</p>
          <p><span [innerHTML]="matchup.awayTeamName | strongPipe:matchup.winningTeamName"></span> : {{matchup.awayTeamScore}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  </div>
