<div class="outerContainer">
  <div class="matchup">
    <h3>Historical Matchups for year: {{year}}</h3>
  </div>

  <!-- SELECT OPTIONS -->
  <div id = "selectContainer">
    <span class="year">Select year</span>
      <select class='select-option'
      #mySelect
      (change)='onOptionsSelected(mySelect.value)'>
        <option *ngFor="let year of years">{{year}}</option>
      </select>

      <span class="week">Select week</span>
      <select class='select-week-option'
      #myWeekSelect
      (change)='onWeekOptionsSelected(myWeekSelect.value)'>
        <option *ngFor="let week of weeks">{{week}}</option>
      </select>
  </div>
  <div fxLayout="row" fxLayout.lt-lg="column" class="container">

    <!-- FLEX LAYOUT -->
    <!-- MATCHUPS TILE -->
    <div fxFlex="1 2 auto" fxLayoutAlign="center center" class="module">
      <div fxLayout="column wrap" fxLayoutGap="40px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let matchup of matchupDetail">
          <mat-card class="mat-elevation-z4">
            <div class = "headerWrap">
              <mat-card-header>
                <mat-card-title>Matchup {{matchup.matchIdentifier}}</mat-card-title>
              </mat-card-header>
            </div>
            <mat-card-content *ngIf="matchup">
              <p *ngIf="matchup.isPlayoffMatchup">Playoff Tier Type: {{matchup.playoffTierType}}</p>
              <p><span [innerHTML]="matchup.homeTeamName | strongPipe:matchup.winningTeamName"></span> : {{matchup.homeTeamScore}}</p>
              <p><span [innerHTML]="matchup.awayTeamName | strongPipe:matchup.winningTeamName"></span> : {{matchup.awayTeamScore}}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <!-- STANDINGS -->
    <div fxFlex="1 1 auto" fxFlexFill class="module bar" (window:resize)="onResize()">
      <app-standings></app-standings>
    </div>
  </div>
</div>
