
table {
  margin-top: 20px;
}

.mat-table {
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    overflow-x: scroll;
}
.mat-row,
.mat-header-row {
    display: table-row;
}
.mat-cell,
.mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}


th.mat-header-cell{
  color:white;
  font-size: 10pt;
  font-weight: bold;
  background-color:indigo;
  border-top: 1px solid #cfd2d4;
  white-space: normal;
  text-align: left;
}

th.mat-header-cell:first-child{
  border-left: 1px solid #cfd2d4;
}

th.mat-header-cell:last-child{
  border-right: 1px solid #cfd2d4;
}

td.mat-cell {
  padding: 16px 50px 16px 0;
  border-bottom: 1px solid #cfd2d4;
  border-top: 1px solid #cfd2d4;
 }

 td.mat-cell:first-child {
   border-left: 1px solid #cfd2d4;
 }

 td.mat-cell:last-child {
   border-right: 1px solid #cfd2d4;
 }

th.mat-sort-header-sorted {
  color: white;
}
.shortenedDetail {
  padding-left: 0;
}
